{% extends 'base.html.twig' %}

{% block title %}Hello PageController!
{% endblock %}

{% block body %}
	<div class="border-2 m-10 p-4 rounded-md border-slate-400 text-slate-900">
    <twig:PostFilter />		
	</div>
{% endblock %}
